*.o
*.d
*.i
*.s
*.swp
*.h.in
*.h.in~
autom4te.cache/
config.log
config.status
Makefile
Makefile.in
configure
cscope.files
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
test-driver
ltmain.sh
maint/config/libtool.m4
maint/config/ltoptions.m4
maint/config/ltsugar.m4
maint/config/ltversion.m4
maint/config/lt~obsolete.m4
